{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{ $eyecatch_image := findRE "<image.*?src=([^>]*)?>" .Content 1 }}
{{ if ge (len $eyecatch_image ) 1 }}
{{ range $eyecatch_image }}
{{ . | safeHTML }}
{{ end }}
{{ else }}
<img src="\content\post\img\image-2020-10-05-1.jpg">
{{ end }}

<ul type="none">
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = first 20 .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>

  {{ end }}
</ul>

{{ partial "footer.html" . }}
